$accentColor = #00b37b
$textColor = #222
$borderColor = #edefee
$codeBgColor = #313331
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 4.6rem
$sidebarWidth = 22rem
$contentWidth = 720px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 1059px
$MQMobile = 1019px
$MQMobileNarrow = 419px